@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forcer l'affichage des flèches */
.slick-prev,
.slick-next {
  display: block !important;
  z-index: 10; /* Met les flèches au-dessus du contenu */
}

/* Positionnement des flèches */
.slick-prev {
  left: 20px; /* Ajuste la position à gauche */
}

.slick-next {
  right: 20px; /* Ajuste la position à droite */
}

/* Taille et couleur des flèches */
.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  color: #d00931; /* Modifie la couleur si nécessaire */
}
